<h1>{{welcome}}</h1>
<p>Welcome to the Node.js starter website using Express and Handlebars!</p>
<p>Click on the following links to test Express' error handling:</p>
<ol class="list">
     <li><a href="doesntexist">Generate not found (404)</a></li>
     <li><a href="generate500">Generate server error (500)</a></li>
</ol>
